In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import date
import pandas as pd
from selenium import webdriver
import time
import sqlite3 as db

# Dataframe 1

In [2]:
# New Dataframe with Restaurants

df = pd.read_csv('opendatabcn_restaurants.csv')

In [3]:
# Drop unnecessary columns

df.drop(columns=['institution_id', 'created','modified', 'addresses_roadtype_id', 'addresses_roadtype_name', 'addresses_road_id',
        'addresses_end_street_number', 'addresses_main_address','addresses_zip_code','addresses_type', 'secondary_filters_name', 'values_id','values_attribute_id', 'addresses_neighborhood_id', 'addresses_district_id', 'values_category', 'values_attribute_name','values_attribute_type', 'values_value', 'values_outstanding','values_description','secondary_filters_id', 'secondary_filters_fullpath','secondary_filters_tree', 'secondary_filters_asia_id','geo_epgs_25831_x', 'geo_epgs_25831_y'], inplace=True)

In [4]:
# Reset index to drop duplicates

df.set_index('id', inplace = True)
df.drop_duplicates(inplace=True)

In [5]:
# Clean column address

df['addresses_road_name'] = df['addresses_road_name'].apply(lambda x: x.upper())
df.loc[df[df['name'] == 'Xiringuito Vai Moana'].index, 'geo_epgs_4326_x'] == 41.394649
df.loc[df[df['name'] == 'Xiringuito Vai Moana'].index, 'geo_epgs_4326_y'] == 2.206541
df['addresses_road_name'] = df['addresses_road_name'].replace('À|Á', 'A', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('É|È', 'E', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('Í|Ì', 'I', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('Ò|Ó', 'O', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('Ú|Ù', 'U', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace("D'", '', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace("L'", '', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^AV\sAV\s', 'AV. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^AV\s', 'AV. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^C\s', 'C. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^CRTA', 'CRTA.', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^G.V.\s', 'G.V.. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PG\s', 'PG. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PL\s', 'PL. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PLA\s', 'PLA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PLTA\s', 'PLTA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PTGE\s', 'PTGE. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PTJA\s', 'PTJA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^RBLA\s', 'RBLA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^RDA\s', 'RDA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^RIER\s', 'RIER. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^TRAV\s', 'TRAV. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^VIA\s', 'VIA. ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^ARIBAU', 'C. ARIBAU ', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^JOAN', 'C. JOAN', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^LOPE', 'C. LOPE', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^MALLORCA', 'C. MALLORCA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^MARIA', 'C. MARIA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^MARINA', 'C. MARINA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^NAPOLS', 'C. NAPOLS', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PARIS', 'C. PARIS', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PUJADES', 'C. PUJADES', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^VALLESPIR', 'C. VALLESPIR', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^C. LA RAMBLA', 'C. RAMBLA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^PG. MARITIM BARCELONETA', 'PG. MARITIM DE LA BARCELONETA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^CANTABRIA', 'C. CANTABRIA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^CASTILLEJOS', 'C. CASTILLEJOS', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^ENTENÇA', 'C. ENTENÇA', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('^GARCILASO', 'C. GARCILASO', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('AV. LITORAL, 9994', 'PARC DEL PORT OLIMPIC S/N', regex=True)
df['addresses_road_name'] = df['addresses_road_name'].replace('CTRA', 'CTRA.', regex=True)
df['addresses_neighborhood_name'] = df['addresses_neighborhood_name'].replace("la Dreta de Eixample", "la Dreta de l'Eixample", regex=True)

In [6]:
# Clean and cast column street number

df['addresses_start_street_number'].fillna('0', inplace=True)
df['addresses_start_street_number'] = df['addresses_start_street_number'].astype('int').astype('str')
df['addresses_start_street_number'].replace('0','S/N', inplace=True)

In [7]:
# Create a new column that includes address and street number

df['emplacement'] = df['addresses_road_name'].apply(lambda x: x + ', ') + df['addresses_start_street_number'].apply(lambda x: x)

In [8]:
df['emplacement'] = df['emplacement'].replace('CRO SANT BONAVENTURA, 5', 'C. SANT BONAVENTURA, 7', regex=True)
df['emplacement'] = df['emplacement'].replace('PG. J BORBO COMTE BARCELONA, 46', 'PG. JOAN BORBO COMTE BARCELONA, 46', regex=True)
df['emplacement'] = df['emplacement'].replace('PTJA. MAR BELLA, 100', 'PG. MARITIM DE LA MAR BELLA, 100', regex=True)
df['emplacement'] = df['emplacement'].replace('SANTALO, 8', 'C. SANTALO, 8', regex=True)
df['emplacement'] = df['emplacement'].replace('TAQUIGRAF SERRA, 24', 'C. TAQUIGRAF SERRA, 24', regex=True)
df['emplacement'] = df['emplacement'].replace('TORRENT DE LES FLORS, 101', 'C. TORRENT DE LES FLORS, 101', regex=True)

In [9]:
# Restaurants with no name (1)

lst = []
for i in df[(df['name'] == 'Restaurant')|(df['name'] == 'Bar Restaurant')]['emplacement']:
    lst.append(i)
df.loc[df[df['emplacement'] == lst[0]].index, 'name'] = 'Restaurant Círculo Ecuestre'
df.loc[df[df['emplacement'] == lst[1]].index, 'name'] = 'Restaurant Col·legi Arquitectes Barcelona'
df.loc[df[df['emplacement'] == lst[2]].index, 'name'] = 'Restaurant Casa Regional de Soria'
df.loc[df[df['emplacement'] == lst[3]].index, 'name'] = 'Bar Restaurant Club Tennis Vall Parc'
df.loc[df[df['emplacement'] == lst[4]].index, 'name'] = 'Bar restaurant Centre Aragonès Barcelona'
df.loc[df[df['emplacement'] == lst[5]].index, 'name'] = 'Pastisseria Farga *Avinguda Diagonal'
df.loc[df[df['emplacement'] == lst[6]].index, 'name'] = 'Pastisseria Baixas *Muntaner'
df.loc[df[df['emplacement'] == lst[7]].index, 'name'] = 'Pastisseria Farga *G. V. de les Corts Catalanes'
df.loc[df[df['emplacement'] == lst[8]].index, 'name'] = 'Bar Restaurant Pistes Municipals de Tennis Montjuïc'
df.loc[df[df['emplacement'] == lst[9]].index, 'name'] = 'Restaurant Bowling Pedralbes'
df.loc[df[df['emplacement'] == lst[10]].index, 'name'] = 'Restaurant Teatre Nacional de Cataluña'
df.loc[df[df['emplacement'] == lst[11]].index, 'name'] = 'Restaurant Palau Moja'
df.loc[df[df['emplacement'] == 'RBLA. RAVAL, 43'].index, 'name'] = 'RBLA. RAVAL, 45'

In [10]:
# Truncate GPS measures 

df['geo_epgs_4326_x'] = df['geo_epgs_4326_x'].apply(lambda x: float(str(x)[0:8]))
df['geo_epgs_4326_y'] = df['geo_epgs_4326_y'].apply(lambda x: float(str(x)[0:7]))

In [11]:
# Drop unnecessary columns

df.drop(columns=['addresses_road_name', 'addresses_start_street_number','institution_name'], inplace=True)

In [12]:
# Reset index to drop duplicates

df.drop_duplicates(subset=['name', 'emplacement'], inplace=True)

In [13]:
# Sort columns

df = df.reindex(columns=['name','emplacement' ,'addresses_neighborhood_name', 'addresses_district_name', 'geo_epgs_4326_x',
       'geo_epgs_4326_y'])

df = df.sort_values('emplacement')

df.columns = [i.upper() for i in df.columns]

In [14]:
# Create a table in a sqlite3 db

db_url='restaurantes_terrazas_bcn.db'
conn = db.connect(db_url)
df.to_sql(name = 'Restaurants', con =conn)

# Dataframe 2

In [15]:
# New Dataframe with Terrasses

df2 = pd.read_csv('2020_1s_data_set_opendata_terrasses.csv')

In [16]:
# Drop unnecessary columns

df2.drop(columns=['DATA_EXPLO', 'CODI_DISTRICTE', 'CODI_BARRI', 'OCUPACIO', 'CADIRES','ORDENACIO','VIGENCIA','X_ETRS89','Y_ETRS89'], inplace=True)

In [17]:
# Clean column emplacament

df2['EMPLACAMENT'] = df2['EMPLACAMENT'].apply(lambda x: x.split('-')[0])
df2['EMPLACAMENT'] = df2['EMPLACAMENT'].replace("D'", '', regex=True)
df2['EMPLACAMENT'] = df2['EMPLACAMENT'].replace("L'", '', regex=True)

In [18]:
# Truncate GPS measures 

df2['LATITUD'] = df2['LATITUD'].apply(lambda x: float(str(x)[0:8]))
df2['LONGITUD'] = df2['LONGITUD'].apply(lambda x: float(str(x)[0:7]))

In [19]:
# Create a table in a sqlite3 db

df2.to_sql(name = 'Terrasses', con =conn)

# Dataframe 3

In [20]:
# New Dataframe with Coca Cola customers activity

df3 = pd.read_csv('CC_outlets_BCN.csv')

In [21]:
# Create a new column that includes address and street number

df3['emplacement'] = df3['St. type'].apply(lambda x: x + ' ') + df3['Street'].apply(lambda x: x + ', ') + df3['Number'].apply(lambda x: x)

In [22]:
# Clean column address

df3['emplacement'] = df3['emplacement'].replace('^AV\s', 'AV. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^CAM\s', 'CAMI ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^CR\s|^CL\s|^BXD\s|^BRD\s|^GRP\s', 'C. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^CRT\s', 'CTRA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^LL\s', '', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PS\s', 'PG. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PZ\s', 'PL. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PLA\s', 'PLA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PLTA\s', 'PLTA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PTG\s', 'PTGE. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^PTJA\s', 'PTJA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^RB\s', 'RBLA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^RDA\s', 'RDA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^RIE\s', 'RIER. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^VIA\s', 'VIA. ', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^C. GRAN VIA DE LES', 'G.V..', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^C. GRAN VIA,', 'G.V.. CORTS CATALANES,', regex=True)
df3['emplacement'] = df3['emplacement'].replace('^C. GRAN VIA', 'G.V..', regex=True)

In [23]:
# Drop unnecessary columns

df3.drop(columns=['St. type', 'Street','Number', 'Postal code', 'Municipality', 'Date'], inplace=True)

In [24]:
# Drop duplicates

df3.drop_duplicates(subset=['Outlet', 'emplacement'], inplace=True)

In [25]:
# Normalise situation

df3['Situation']=df3['Situation'].replace('Abierto con normalidad|Abierto exclusivamente para take away/delivery', 'Abierto', regex=True)
df3['Situation']=df3['Situation'].replace('Sin informaci�n|NS/NC', 'Sin información', regex=True)
df3['Situation']=df3['Situation'].replace('Cierre definitivo por Covid|Cerrado temporalmente por COVID|Cerrado estacional', 'Cerrado', regex=True)

In [26]:
# Sort columns

df3 = df3.sort_values('emplacement')
df3.columns = [i.upper() for i in df3.columns]

In [27]:
# Reset Index

df3.reset_index(drop=True, inplace=True)

In [28]:
# Create a table in a sqlite3 db

df3.to_sql(name = 'Activity', con =conn)

# Dataframe 4

In [37]:
df4 = pd.read_csv('the_fork.csv')

In [38]:
df4.drop_duplicates(inplace=True)

In [39]:
df4[df4['direccion'].str.contains("\w [0-9]{3}", regex=True)].sort_values('direccion')

,nombre,cocina,direccion,rating,num_opiniones,precio
1287,El Templo del Placer - Barcelona,MEDITERRÁNEO,"Avenida Diagonal 203, 08018, Barcelona",0.0,0,45
956,Aula Restaurant - CETT,CATALÁN,"Avenida de Can Marcet, 36 08035 Barcelona, 080...",9.8,77,26
1848,Baribau,MEDITERRÁNEO,"C/ Aribau 131, 08036, Barcelona",0.0,0,25
1537,Federal Café,AMERICANO,"C/ Parlament 39 8015, 08015, Barcelona",0.0,0,21
1630,Bar Mut,ESPAÑOL,"C/ Pau Claris, 192 8010, 08037, Barcelona",0.0,0,20
322,Txalaparta,VASCO,"C/ Sants 146 - 152, 08028, Barcelona",9.0,219,27
1971,Asador de Galicia,ASADOR,"C/ Sepúlveda 187, 08011, Barcelona",0.0,0,25
1837,Típic i Català,AUTOR,"C/ Sicília 217, baixos, 08013, Barcelona",0.0,0,17
1688,Vivanda,ESPAÑOL,"C/Major de Sarria, 134 8017, 08017, Barcelona",0.0,0,24
1572,Bar Del Pla,ESPAÑOL,"C/Montcada, 2 8003, 08003, Barcelona",0.0,0,30
1552,La Granota & CO,ESPAÑOL,"CALLE PADILLA 250 LOCAL LA GRANOTA, 08013, Bar...",0.0,0,25
1571,Velodromo Bar,ESPAÑOL,"Calle Muntaner, 213 8036, 08036, Barcelona",0.0,0,25
1470,Sabor Jiang 匠味,CHINO,"Carrer consell de cent 448, 08013, Barcelona",0.0,0,15
1580,El Filete Ruso,ESPAÑOL,"Carrer d' Enric Granados, 95 8008, 08008, Barc...",0.0,0,25
1689,Can Vallés,ESPAÑOL,"Carrer d'Arago, 95 8015, 08015, Barcelona",0.0,0,16
1902,Miu Taverna Japonesa,JAPONÉS,"Carrer d'Enric Granados, 23 08007 Barcelona, 0...",0.0,0,17
1502,Magnate,MEDITERRÁNEO,"Carrer de Casanova 193, 08036, Barcelona",0.0,0,30
1587,L'Osteria Sutta e Supra,ITALIANO,"Carrer de Casanova 195, 08036, Barcelona",9.1,377,50
2094,Come In,MEDITERRÁNEO,"Carrer de València, 334 08009 Barcelona, 08009...",0.0,0,20
1609,IGUAZU II,ARGENTINO,"Carrer del Consell de Cent 313, 08007, Barcelona",0.0,0,15
458,Kuletos,MEDITERRÁNEO,"Carrer del Dr. Trueta nº 220, 08005, Barcelona",9.1,181,24
923,La Taula Bohemia,MEDITERRÁNEO,"Carrer violant de Hungría reina de Aragón 167,...",9.2,536,25
621,La Cococha,MERCADO,"Casanova 157, 08036, Barcelona",9.3,12,20
1539,Monvínic,ESPAÑOL,"Diputacio, 249, 08007 Barcelona, España 8007, ...",0.0,0,30
222,El 9 Porró,MEDITERRÁNEO,"Dr. Trueta 225, 08005, Barcelona",8.5,40,15
895,El Chiringuito de Casa Bonay,INTERNACIONAL,"Gran Via de les Corts Catalanes 700, 08010, Ba...",0.0,0,20
1461,La Poma,Welcome,"La Rambla 117, 08002, Barcelona",0.0,0,19
648,Casa Patry,MEDITERRÁNEO,"MARE DE DEU DE PORT 305 LOCAL 11 BARCELONA, 08...",0.0,0,22
888,Pau Claris 190,MEDITERRÁNEO,"Pau Claris 190, 08037, Barcelona",9.5,854,40
1106,Banna,TAILANDÉS,"Plaça Revolucio de Setembre 1868, 15, 08012, B...",9.2,523,20
2186,Mezzé,AMERICANO,"Plaça del rom cremat 08027 Barcelona, 08027, B...",0.0,0,10
1540,WAGOKORO,JAPONÉS,"Regas 35 8006, 08006, Barcelona",0.0,0,17
1944,Igueldo,ASADOR,"Rosello 186, 08008, Barcelona",0.0,0,40
1536,Neri - Hotel Neri,ESPAÑOL,"Sant Sever 5 08002, 08002, Barcelona",0.0,0,30
2001,La Bodegueta de les Corts,ESPAÑOL,"Travessera de les Corts 154, 08028, Barcelona",0.0,0,20

In [40]:
# Clean column direccion

df4['direccion']=df4['direccion'].apply(lambda x: x.upper())
df4['direccion']=df4['direccion'].apply(lambda x: ','.join(x.split(',')[0:2]))
df4['direccion']=df4['direccion'].apply(lambda x: x.split(' (')[0])
df4['direccion']=df4['direccion'].apply(lambda x: x.split('-')[0])

In [41]:
df4['direccion'] = df4['direccion'].replace('À|Á', 'A', regex=True)
df4['direccion'] = df4['direccion'].replace('É|È', 'E', regex=True)
df4['direccion'] = df4['direccion'].replace('Í|Ì', 'I', regex=True)
df4['direccion'] = df4['direccion'].replace('Ò|Ó', 'O', regex=True)
df4['direccion'] = df4['direccion'].replace('Ú|Ù', 'U', regex=True)
df4['direccion'] = df4['direccion'].replace("D´", "", regex=True)
df4['direccion'] = df4['direccion'].replace("L´", "", regex=True)
df4['direccion'] = df4['direccion'].replace("D'", "", regex=True)
df4['direccion'] = df4['direccion'].replace("L'", "", regex=True)
df4['direccion'] = df4['direccion'].replace("DR\.", "DOCTOR", regex=True)
df4['direccion'] = df4['direccion'].replace("GALILEO", "GALILEU", regex=True)
df4['direccion'] = df4['direccion'].replace('^CALLE', 'CARRER', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER DELS ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER DE LES ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER DE LA ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER DEL ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER DE ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRER ', 'C. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^C/', 'C.', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVENIDA|^AVENIDA\.', 'AVINGUDA', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA DE LA ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA DE LES ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA DELS ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA DEL ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA DE ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVINGUDA\. ', 'AV. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^AV. DEL', 'AV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^AV. DE LES', 'AV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^AV. DE', 'AV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^AVD. DE', 'AV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^VIA ', 'VIA. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^PASEO ', 'PASSEIG ', regex=True)
df4['direccion'] = df4['direccion'].replace('^PG. DE ', 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DELS ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DE LES ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DEL ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DE LA ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DE |^C. PASSEIG DE ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG DON ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSEIG ", 'PG. ', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLACETA DE", 'PTA.', regex=True)
df4['direccion'] = df4['direccion'].replace('^C.PLAZA|PLAZA', 'PLAÇA', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA DE LES", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA DE LA", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA DELS", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA DEL", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA DE", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PLAÇA", 'PLA.', regex=True)
df4['direccion'] = df4['direccion'].replace("MARITIMO", 'MARITIM', regex=True)
df4['direccion'] = df4['direccion'].replace("^PG. MARITIM,|^PG. MARITIM BARCELONETA,|PORXOS DEL PASSEIG MARITIM DE LA BARCELONETA,", 'PG. MARITIM DE LA BARCELONETA,', regex=True)
df4['direccion'] = df4['direccion'].replace("PG. MARITIM DE LA BARCELONETA,", 'PG. MARITIM DE LA BARCELONETA, 55', regex=True)
df4['direccion'] = df4['direccion'].replace("C. PLAYA NOVA DE MAR BELLA", 'PG. MARITIM DE LA MAR BELLA', regex=True)
df4['direccion'] = df4['direccion'].replace("JUAN DE BORBON", 'JOAN BORBO', regex=True)
df4['direccion'] = df4['direccion'].replace("^PG. JOAN DE BORBO,|^PG. JOAN BORBO,", 'PG. JOAN BORBO COMTE BARCELONA,', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA DE LES', 'G.V..', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA CORTS CATALANES,', 'G.V.. CORTS CATALANES,', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA DE LAS CORTES CATALANES,', 'G.V.. CORTS CATALANES,', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA,', 'G.V.. CORTS CATALANES,', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA DE ', 'G.V.. ', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. GRAN VIA DE LES CORTS CATALANES', 'G.V.. CORTS CATALANES', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. GRAN VIA DE LES CORTS', 'G.V.. CORTS CATALANES', regex=True)
df4['direccion'] = df4['direccion'].replace('^GRAN VIA CARLES', 'G.V.. CARLES', regex=True)
df4['direccion'] = df4['direccion'].replace('CATALUÑA', 'CATALUNYA', regex=True)
df4['direccion'] = df4['direccion'].replace('POBLE NOU', 'POBLENOU', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. RAMBLA POBLENOU|RAMBLA DEL POBLENOU|RAMBLA DE POBLENOU', 'RBLA. POBLENOU', regex=True)
df4['direccion'] = df4['direccion'].replace('^LA RAMBLA|^LAS RAMBLAS', 'C. RAMBLA', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. RAMBLA CATALUNYA|^RAMBLA CATALUNYA|^RAMBLA DE CATALUNYA', 'RBLA. CATALUNYA', regex=True)
df4['direccion'] = df4['direccion'].replace('^RAMBLA DE FABRA I PUIG', 'RBLA. FABRA I PUIG', regex=True)
df4['direccion'] = df4['direccion'].replace('^RAMBLA DEL RAVAL', 'RBLA. RAVAL', regex=True)
df4['direccion'] = df4['direccion'].replace('^RAMBLA DELS CAPUTXINS', 'RBLA. CAPUTXINS', regex=True)
df4['direccion'] = df4['direccion'].replace('^TRAVESSERA DE LES', 'TRAV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^TRAVESERA DE|TRAVESSERA DE', 'TRAV.', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. PLA DE PALAU|PLA DE PALAU|PLAÇA DE PALAU', 'PLA. PALAU', regex=True)
df4['direccion'] = df4['direccion'].replace('C. MIRADOR DEL PALAU NACIONAL, 08038', 'C. MIRADOR PALAU NACIONAL, 6', regex=True)
df4['direccion'] = df4['direccion'].replace('^MOLL DEL', 'MOLL', regex=True)
df4['direccion'] = df4['direccion'].replace('^MOLL DE', 'MOLL', regex=True)
df4['direccion'] = df4['direccion'].replace('^AV. MOLL|C. MOLL DE', 'MOLL', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. MOLL', 'MOLL', regex=True)
df4['direccion'] = df4['direccion'].replace('MOLL GREGAL, 11 Y 12', 'MOLL GREGAL, 12', regex=True)
df4['direccion'] = df4['direccion'].replace('^RAMON Y CAJAL', 'C. RAMON Y CAJAL', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRETERA DE MIRAMAR', 'AV. MIRAMAR', regex=True)
df4['direccion'] = df4['direccion'].replace('VALLVIDRERA AL TIBIDABO', 'VALLVIDRERA TIBIDABO', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRETERA DE LA', 'CTRA', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRETERA DE', 'CTRA', regex=True)
df4['direccion'] = df4['direccion'].replace('^CARRETERA|^CTRA\.', 'CTRA', regex=True)
df4['direccion'] = df4['direccion'].replace('^CTRA DE', 'CTRA', regex=True)
df4['direccion'] = df4['direccion'].replace('^RIERA', 'C. RIERA', regex=True)
df4['direccion'] = df4['direccion'].replace('PARALELO', 'PARAL·LEL', regex=True)
df4['direccion'] = df4['direccion'].replace('C. ALLADA', 'C. ALLADA-VERMELL, 10', regex=True)
df4['direccion'] = df4['direccion'].replace('C. ASSAONADORS, 31PLAÇA ALLADA/VERMELL 18', 'C. ASSAONADORS, 31', regex=True)
df4['direccion'] = df4['direccion'].replace('CASANOVAS', 'CASANOVA', regex=True)
df4['direccion'] = df4['direccion'].replace('^CASANOVA', 'C. CASANOVA', regex=True)
df4['direccion'] = df4['direccion'].replace(', 080.+', '', regex=True)
df4['direccion'] = df4['direccion'].replace(' 080.+', '', regex=True)
df4['direccion'] = df4['direccion'].replace(' 80\d+', '', regex=True)
df4['direccion'] = df4['direccion'].replace(',? BAIXOS', '', regex=True)
df4['direccion'] = df4['direccion'].replace('Nº 26', '26', regex=True)
df4['direccion'] = df4['direccion'].replace(' Nº100', ', 100', regex=True)
df4['direccion'] = df4['direccion'].replace(' Nº 220', ', 200', regex=True)
df4['direccion'] = df4['direccion'].replace('PELAYO', 'PELAI', regex=True)
df4['direccion'] = df4['direccion'].replace(' LOCAL.*', '', regex=True)
df4['direccion'] = df4['direccion'].replace(' LOCAL.*', '', regex=True)
df4['direccion'] = df4['direccion'].replace('\s$', '', regex=True)
df4['direccion'] = df4['direccion'].replace('BELLOC', 'BELL-LLOC', regex=True)
df4['direccion'] = df4['direccion'].replace('PASAJE DE LA CONCEPCION', 'PTGE. CONCEPCIO', regex=True)
df4['direccion'] = df4['direccion'].replace('PASAJE', 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSATGE DE LA", 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSATGE DELS", 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSATGE DE", 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace("^PASSATGE", 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace('C\.PTGE\.', 'PTGE.', regex=True)
df4['direccion'] = df4['direccion'].replace('CONSEJO DE CIENTO', 'C. CONSELL DE CENT', regex=True)
df4['direccion'] = df4['direccion'].replace('CORCEGA', 'CORSEGA', regex=True)
df4['direccion'] = df4['direccion'].replace('ENRIQUE GRANADOS', 'ENRIC GRANADOS', regex=True)
df4['direccion'] = df4['direccion'].replace('LERIDA', 'LLEIDA', regex=True)
df4['direccion'] = df4['direccion'].replace('NAPOLES', 'NAPOLS', regex=True)
df4['direccion'] = df4['direccion'].replace('C. SANTA FE DE NUEVO MEXICO, S/N', 'C. SANTA FE DE NOU MEXIC, 8', regex=True)
df4['direccion'] = df4['direccion'].replace('CAMI VELL SARRIA', 'CAMI VELL DE SARRIA', regex=True)
df4['direccion'] = df4['direccion'].replace('C.MAJOR DE SARRIA', 'C. MAJOR DE SARRIA', regex=True)
df4['direccion'] = df4['direccion'].replace('C. LOS CASTILLEJOS', 'C. CASTILLEJOS', regex=True)
df4['direccion'] = df4['direccion'].replace('MARQUES DEL CAMPO SAGRADO', 'MARQUES DE CAMPO SAGRADO', regex=True)
df4['direccion'] = df4['direccion'].replace('PG. MARITIM DE LA MAR BELLA, S/N', 'PG. MARITIM DE LA MAR BELLA, 100', regex=True)
df4['direccion'] = df4['direccion'].replace('^DOCTOR TRUETA', 'C. DOCTOR TRUETA', regex=True)
df4['direccion'] = df4['direccion'].replace('^PAU CLARIS', 'C. PAU CLARIS', regex=True)
df4['direccion'] = df4['direccion'].replace('^ROSELLO', 'C. ROSELLO', regex=True)
df4['direccion'] = df4['direccion'].replace('^MARE DE DEU DE PORT', 'C. MARE DE DEU DE PORT', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. JOSEP TARRADELLAS', 'AV. JOSEP TARRADELLAS', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. DE SANCHO', 'C. SANCHO', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. ARAGON', 'C. ARAGO', regex=True)
df4['direccion'] = df4['direccion'].replace('^C. DE BAILEN', 'C. BAILEN', regex=True)
df4['direccion'] = df4['direccion'].replace('CTRA', 'CTRA.', regex=True)

df4['nombre'] = df4['nombre'].replace('Crêperie', 'Creperie', regex=True)
df4['nombre'] = df4['nombre'].replace('Bērytī', 'Beryti', regex=True) 
df4['nombre'] = df4['nombre'].replace('’', "'", regex=True)
df4['nombre'] = df4['nombre'].replace('ệ', "e", regex=True)
df4.loc[df4[df4['nombre']=='Montesquiu'].index, 'precio'] = '30'
df4.loc[df4[df4['nombre']=='Gola Taperia'].index, 'precio'] = '30'
df4.loc[df4[df4['nombre']=='La Font de Prades'].index, 'precio'] = '30'
df4.loc[df4[df4['nombre']=='Tablao de Carmen'].index, 'precio'] = '30'

In [42]:
df4['cocina'] = df4['cocina'].replace('À|Á', 'A', regex=True)
df4['cocina'] = df4['cocina'].replace('É|È', 'E', regex=True)
df4['cocina'] = df4['cocina'].replace('Í|Ì', 'I', regex=True)
df4['cocina'] = df4['cocina'].replace('Ò|Ó', 'O', regex=True)
df4['cocina'] = df4['cocina'].replace('Ú|Ù', 'U', regex=True)
df4['cocina'] = df4['cocina'].replace('€|Welcome|YUMS|Yums', 'Sin información', regex=True)

In [43]:
# Sort columns

df4 = df4.sort_values('direccion')
df4.columns = [i.upper() for i in df4.columns]
df4.reset_index(drop=True, inplace=True)

In [44]:
df4.to_sql(name = 'Fork', con =conn)

# SQL Queries

In [45]:
sql_1 = '''
select r.NAME, r.EMPLACEMENT, r.ADDRESSES_NEIGHBORHOOD_NAME, r.ADDRESSES_DISTRICT_NAME, r.GEO_EPGS_4326_X, r.GEO_EPGS_4326_Y, t.SUPERFICIE_OCUPADA, a.SITUATION, f.RATING, f.NUM_OPINIONES,
f.PRECIO, f.COCINA
from Restaurants r LEFT join Terrasses t on r.EMPLACEMENT = t.EMPLACAMENT LEFT join Activity a on r.EMPLACEMENT = a.EMPLACEMENT
LEFT join Fork f on r.EMPLACEMENT = f.direccion
group by r.NAME, r.EMPLACEMENT, r.ADDRESSES_NEIGHBORHOOD_NAME, r.ADDRESSES_DISTRICT_NAME, r.GEO_EPGS_4326_X, r.GEO_EPGS_4326_Y
'''

In [46]:
df5 = pd.read_sql(sql_1, conn)

In [47]:
df5['SUPERFICIE_OCUPADA'].fillna(0, inplace=True)
df5['TERRASSE'] = df5['SUPERFICIE_OCUPADA'].apply(lambda x: 'Si' if x != 0 else 'No')

In [48]:
df5['SITUATION'].fillna('Sin información', inplace=True)

In [49]:
df5.to_csv('database_restaurants_clean2.csv', encoding = 'latin-1')

In [50]:
sql_2 = '''
SELECT f.NOMBRE, f.DIRECCION, t.EMPLACAMENT, r.EMPLACEMENT, t.NOM_BARRI, r.ADDRESSES_NEIGHBORHOOD_NAME, r.GEO_EPGS_4326_X as LATITUD1, r.GEO_EPGS_4326_Y as LONGITUD1,
t.LATITUD as LATITUD2, t.LONGITUD as LONGITUD2,
t.SUPERFICIE_OCUPADA, a.SITUATION as SITUACION, f.RATING, f.NUM_OPINIONES, f.PRECIO, f.COCINA
from Fork f LEFT join Terrasses t on f.DIRECCION = t.EMPLACAMENT LEFT join Activity a on f.DIRECCION = a.EMPLACEMENT
LEFT join Restaurants r on f.DIRECCION = r.EMPLACEMENT
GROUP BY f.NOMBRE, f.DIRECCION, t.EMPLACAMENT, r.EMPLACEMENT 
'''

In [51]:
df6 = pd.read_sql(sql_2, conn)

In [52]:
df6.fillna('None', inplace=True)

In [53]:
lst4 = []
for i in df6.iterrows():
    if i[1][7] == 'None':
        lst4.append(i[1][9])
    else:
        lst4.append(i[1][7])

In [54]:
df6['LONGITUD'] = lst4

In [55]:
lst3 = []
for i in df6.iterrows():
    if i[1][6] == 'None':
        lst3.append(i[1][8])
    else:
        lst3.append(i[1][6])

In [56]:
df6['LATITUD'] = lst3

In [57]:
lst2 = []
for i in df6.iterrows():
    if i[1][4] == 'None':
        lst2.append(i[1][5])
    else:
        lst2.append(i[1][4])

In [58]:
df6['BARRIO'] = lst2

In [59]:
df6['TERRAZA'] = df6['SUPERFICIE_OCUPADA'].apply(lambda x: 'Si' if x != 'None' else 'No')

In [60]:
df6.drop(columns=['EMPLACAMENT', 'EMPLACEMENT', 'NOM_BARRI', 'ADDRESSES_NEIGHBORHOOD_NAME','LATITUD1', 'LONGITUD1', 'LATITUD2','LONGITUD2' ], inplace=True)

In [61]:
# Sort columns

df6 = df6.reindex(columns=['NOMBRE', 'DIRECCION','BARRIO', 'COCINA', 'SITUACION', 'TERRAZA', 'SUPERFICIE_OCUPADA', 'RATING','NUM_OPINIONES', 'PRECIO', 'LONGITUD', 'LATITUD'])

In [62]:
for i in df6.iterrows():
    if i[1][10] == 'None':
        df6.drop(i[0], inplace=True)

df6.reset_index(inplace=True, drop=True)

In [63]:
df6['NOMBRE'] = df6['NOMBRE'].replace('Bērytī', 'Bertyti', regex=True)
df6['NOMBRE'] = df6['NOMBRE'].replace('’', "'", regex=True)
df6['NOMBRE'] = df6['NOMBRE'].replace('ệ', "e", regex=True)

In [64]:
df6.loc[1267] = ['Terraza Ironhack', 'C. PAMPLONA, 96', 'el Parc i la Llacuna del Poblenou', 'BBQ', 'Abierto', 'Si', 20.0, 0.0, 0, 0, 2.19071, 41.39820]

In [65]:
df6.to_csv('database_restaurants_clean.csv', encoding='latin-1')

In [66]:
# Close connector
conn.close()